		body, html {
			color : black;
			/*background : #FFF;*/
			padding: 0;
			margin: 0;
			font-family : 'Overlock', Helvetica, Arial,  sans-serif;
			/*clear : both;*/
					/* IE10 */ 
background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #E8EFD7 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #E8EFD7 100%);

/* Opera */ 
background-image: -o-linear-gradient(top right, #FFFFFF 0%, #E8EFD7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E8EFD7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #E8EFD7 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(top right, #FFFFFF 0%, #E8EFD7 100%);
		}
	
		#header {
			padding:5px 10px;
		}
		
		
		#menu {
			font-family : 'Overlock', Arial, Helvetica, sans-serif;
			font-weight : bold;
			float : right;
		}
		
		
		#nav {
			padding:5px 10px;
			/* background:#c99; */
			/*background-color : #FFF;*/
			border-style:dotted;	
			border-width:1px;	
		}

		
		#nav ul {
			margin:0;
			padding:0;
			list-style:none;
		}
		
		
		
		#nav li {
			display:inline;
			margin:0;
			padding:0;
		}

				
		#content {
			
			float:left;
			width:480px;
			padding:10px;
		}
		
		
		#wrap {
			width:750px;
			margin: 0 auto;
	 
		}
		
		
		#footer {
			clear:both;
			padding:5px 10px;
			font-size: smaller;
		}
		#sidebar {
			 float:right;
			 width:230px;
			 padding : 10px;
			/* background:#FFE773;*/
		 }
		 li.first {
		 	background:#00E760;
		 }
		 li.second {
		 	background:#AAE760;
		 }
		 li.third {
		 	background:#DDE760;
		 }

		 #sidebar li {	
		    list-style : none;
		    border-bottom-right-radius: 15px;
		    border-top-right-radius: 15px;
		    padding : 8px;
		    margin : 2px
		 }

 		img {
			border-color:#000;
			border-style:solid;
		}
		
		#footer p {
			margin:0;
			
		}
		
		#header h1, h2{
			text-align: center;
		}
		
		p {
			text-indent: 2em; 
			font: 'Overlock',"Lucida Console", sans-serif;
			text-align: center;
		}
		
		p.outdent {
			padding-left: 2em;
			text-indent: -2em; 
		}
		
		h1 {
			margin 0;
		}
		
		h2 {
			margin:0 0 1em;
		}
		h1, h2 {
			font-family: 'Tangerine', sans-serif;
			font-size: 40px;
		}
		
		h3 {
			font-family: 'Overlock', sans-serif;
		}
		
		
			* html #footer {
		height:1px;
	}

		
		.bold {

		 font-weight: bold;

		 font-size: 1.5em;

		}

		.italic {

		 font-style: italic;

		 font-size: 1.5em;

		}
		


		